img{
    width: 300px;
    height: 300px;
    border: 2px;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    padding: 20px;
    display: inline;
    margin: 30px;
    line-height: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}